#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
@media (max-width: 768px) {
  #root {
    padding: 0.5rem;
  }
}

/* https://stackoverflow.com/a/60660207 - tooltips for touch devices */
@media (pointer: coarse), (hover: none) {
  [title] {
    position: relative;
    display: inline-flex;
    justify-content: center;
  }
  [title]:focus::after {
    content: attr(title);
    position: absolute;
    top: 90%;
    color: var(--black-color);
    background-color: var(--white-color);
    border: 1px solid;
    width: fit-content;
    padding: 3px;
    font-size: 10px;
    z-index: 1;
  }
}

button,
.global-actions-input-label {
  /* global actions input label is mentioned again later */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  user-select: none;
  cursor: pointer;

  color: var(--text-color);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 4px;
  box-shadow: var(--elevation-2dp);
  transition: box-shadow 0.2s ease, transform 0.1s ease,
    background-color 0.2s ease;

  &:hover {
    background-color: var(--tertiary-color);
    box-shadow: var(--elevation-4dp);
  }
  &:active {
    background-color: var(--accent-color);
    transform: scale(0.98);
    box-shadow: var(--elevation-8dp);
  }
}
input[type="text"],
input[type="number"] {
  color: var(--text-color);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 4px 4px 0 0;
  box-shadow: inset 0 -1px 0 0 var(--text-color);
  transition: box-shadow 0.2s ease, background-color 0.2s ease;

  &::placeholder {
    color: var(--dimmed-text-color);
    user-select: none;
  }

  &:hover {
    background-color: var(--tertiary-color);
  }

  &:focus {
    outline: none;
    background-color: var(--secondary-color);
    box-shadow: inset 0 -2px 0 0 var(--accent-color);
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
/* checkboxes */
input[type="checkbox"] {
  display: none;

  &:checked + .spendings-list-filter-checkmark {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }
  &:checked + .spendings-list-filter-checkmark::before {
    transform: scale(1) rotate(45deg);
  }
}
.spendings-list-filter-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
}
.spendings-list-filter-checkmark {
  position: relative;
  width: 14px;
  height: 14px;
  border: 2px solid var(--text-color);
  border-radius: 4px;
  background-color: var(--primary-color);
  transition: all 0.2s ease;

  &::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 1px;
    width: 4px;
    height: 8px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transform: scale(0) rotate(45deg);
    transition: transform 0.2s ease;
  }
}
/* --- */
select,
::picker(select) {
  appearance: base-select;
}
select {
  flex: 1;
  border: none;
  border-radius: 4px 4px 0 0;
  box-shadow: inset 0 -1px 0 0 var(--text-color);
  background-color: var(--secondary-color);
  min-width: fit-content;
  gap: 2rem;
  height: 30px;
  cursor: pointer;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;

  &:hover {
    background-color: var(--tertiary-color);
  }
  &:focus {
    outline: none;
    background-color: var(--secondary-color);
    box-shadow: inset 0 -2px 0 0 var(--accent-color);
  }
  &::picker-icon {
    color: var(--text-color);
    transition: 0.2s rotate;
  }
  &:open {
    background-color: var(--secondary-color);
    box-shadow: inset 0 -2px 0 0 var(--accent-color);
  }
  &:open::picker-icon {
    rotate: 180deg;
  }
  &::picker(select) {
    border: none;
    border-radius: 4px;
    opacity: 0;
    transition: all 0.2s allow-discrete;
  }
  &::picker(select):popover-open {
    opacity: 1;
  }
}
option {
  color: var(--text-color);
  display: flex;
  justify-content: flex-start;
  border: none;
  background-color: var(--secondary-color);
  padding: 5px 10px 5px 10px;
  transition: 0.4s;
  &:first-of-type {
    border-top: 4px solid var(--secondary-color);
  }
  &:last-of-type {
    border-bottom: 4px solid var(--secondary-color);
  }
  &:not(option:last-of-type) {
    border-bottom: none;
  }
  &:hover {
    background-color: var(--tertiary-color);
  }
  &:focus {
    background-color: var(--accent-color);
  }
  &::checkmark {
    order: 1;
    margin-left: auto;
  }
}
h1,
th {
  user-select: none;
}
.standard-icon {
  fill: var(--text-color);
  width: 24px;
  height: 24px;
}
.standard-mini-icon {
  fill: var(--text-color);
  width: 14px;
  height: 14px;
}

/* app container */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* global actions */
.global-actions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  user-select: none;
  background-color: var(--primary-dark);
  border-radius: 4px;
  box-shadow: var(--elevation-2dp);
  width: 100%;
  padding: 1rem 0 1rem 0;
}

.global-actions-contexts,
.global-actions-data-ops {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.global-actions-contexts-language,
.global-actions-contexts-currency {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;
  height: 40px;

  & label {
    color: var(--dimmed-text-color);
    position: absolute;
    font-size: 10px;
    pointer-events: none;
    padding: 0 8px;
  }

  &:focus-within label {
    color: var(--accent-color);
  }

  & select {
    padding-top: 10px;
  }
}
.global-actions-mini-button {
  font-size: 12px;
  width: fit-content;
  height: fit-content;
  padding: 3px 6px;
}

.global-actions-mini-text {
  font-size: 12px;
}

.global-actions-container input {
  display: none;
}
.global-actions-input-label {
  font-size: 12px;
  width: fit-content;
  height: fit-content;
  padding: 3px 6px;
}

/* app title */
.app-title-container {
  background-color: var(--primary-dark);
  border-radius: 4px;
  box-shadow: var(--elevation-2dp);
  width: 100%;
  padding: 1rem 0 1rem 0;

  & h1 {
    margin: 0;
  }
}

/* user selector */
.user-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  background-color: var(--primary-dark);
  border-radius: 4px;
  box-shadow: var(--elevation-2dp);
  width: 100%;
  padding: 1rem 0 1rem 0;
}

.user-selector-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 30px;
  padding: 0 10px 0 10px;
  border: 2px solid var(--pred-color, gray);
  border-radius: 8px;
  background-color: var(--text-color);
  color: var(--black-color);
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  &:hover {
    background-color: var(--pred-color, gray);
    transition: all 0.3s ease;
  }
  &:has(.user-selector-radio:checked) {
    background-color: var(--pred-color, gray);
    color: var(--white-color);
  }
}

.user-selector-radio {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.user-selector-input {
  width: 100px;
  height: 30px;
  padding: 0 0 0 5px;
}

/* spendings input */
.spendings-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--primary-dark);
  border-radius: 4px;
  box-shadow: var(--elevation-2dp);
  width: 100%;
  padding: 1rem 0 1rem 0;
}

.spendings-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
@media (max-width: 768px) {
  .spendings-input {
    flex-direction: column;
  }
}

.spendings-input-amount {
  width: 100px;
  height: 30px;
  padding: 0 0 0 5px;
}

.spendings-input-description {
  width: 200px;
  height: 30px;
  padding: 0 0 0 5px;
}

.spendings-input-last-updated {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.spendings-input-mini-button {
  font-size: 12px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.spendings-input-last-updated-text {
  font-size: 12px;
}

/* spendings list */
.spendings-list-expand {
  font-size: 0; /* weird margin-top fix */
}
.spendings-list-expand button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 100%;
  font-size: 12px;
  padding: 5px;
}
.spendings-list {
  display: var(--expanded, none);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-dark);
  border-radius: 4px;
  box-shadow: var(--elevation-2dp);
  width: 100%;
  padding: 1rem 0 1rem 0;
}

.spendings-list table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.spendings-list-username {
  width: 100px;
  text-align: center;
}
@media (max-width: 768px) {
  .spendings-list-username {
    width: 70px;
  }
}

.spendings-list-date {
  width: 100px;
}
@media (max-width: 768px) {
  .spendings-list-date {
    width: 50px;
  }
}

.spendings-list-amount {
  background-color: var(--pred-color, gray);
  border-radius: 8px;
  color: var(--white-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  padding: 0 5px 0 5px;
  margin: 0 10px 0 10px;
}

.spendings-list-button-container {
  width: 50px; /* 20px for each button + 5px right margin each */
}
.spendings-list-mini-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.spendings-list-amount-input {
  width: 50px;
  height: 20px;
  padding: 0 0 0 5px;
}
.spendings-list-description-input {
  width: 100px;
  height: 20px;
  padding: 0 0 0 5px;
}

.spendings-list-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media (max-width: 768px) {
  .spendings-list-filters {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.spendings-list-filters {
  user-select: none;
}

/* summary table */
.summary-table-container {
  display: var(--emptyTable, none);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--primary-dark);
  border-radius: 4px;
  box-shadow: var(--elevation-2dp);
  width: 100%;
  padding: 1rem 0 1rem 0;
}

.summary-table-container th {
  width: 7rem;
}

.summary-table-username {
  background-color: var(--pred-color, gray);
  color: var(--white-color);
  padding: 0 5px 0 5px;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  margin: 0 10px 0 10px;
  user-select: none;
}

.summary-table-claims {
  color: var(--claim-color, var(--text-color));
}

@media (max-width: 768px) {
  .summary-table-hide-on-mobile {
    display: none;
  }
}
