#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* https://stackoverflow.com/a/60660207 - tooltips for touch devices */
@media (pointer: coarse), (hover: none) {
  [title] {
    position: relative;
    display: inline-flex;
    justify-content: center;
  }
  [title]:focus::after {
    content: attr(title);
    position: absolute;
    top: 90%;
    color: #000;
    background-color: #fff;
    border: 1px solid;
    width: fit-content;
    padding: 3px;
    font-size: 10px;
    z-index: 1;
  }
}

button {
  width: 30px;
  height: 30px;
  padding: 0;
  user-select: none;
  cursor: pointer;
}
h1, th {
  user-select: none;
}

/* app container */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* global actions */
.global-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.global-actions-mini-button {
  font-size: 12px;
  width: 20px;
  height: 20px;
}

.global-actions-mini-text {
  font-size: 12px;
  user-select: none;
}

/* user selector */
.user-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.user-selector-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 30px;
  padding: 0 10px 0 10px;
  border: 2px solid var(--pred-color, gray);
  border-radius: 8px;
  background-color: #E5F4E3;
  color: #000;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  &:hover {
    background-color: var(--pred-color, gray);
    transition: all 0.3s ease;
  }
  &:has(.user-selector-radio:checked) {
    background-color: var(--pred-color, gray);
    color: #fff;
  }
}

.user-selector-radio {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.user-selector-input {
  width: 100px;
  height: 30px;
  padding: 0 0 0 5px;
}

/* spendings input */
.spendings-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
@media (max-width: 768px) {
  .spendings-input {
    flex-direction: column;
  }
}

.spendings-input-amount {
  width: 100px;
  height: 30px;
  padding: 0 0 0 5px;
}

.spendings-input-description {
  width: 200px;
  height: 30px;
  padding: 0 0 0 5px;
}

.spendings-input-last-updated {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.spendings-input-mini-button {
  font-size: 12px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.spendings-input-last-updated-text {
  font-size: 12px;
}

/* spendings list */
.spendings-list-expand {
  font-size: 0; /* weird margin-top fix */
}
.spendings-list-expand button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 100%;
  font-size: 12px;
  padding: 0 5px 0 5px;
}
.spendings-list {
  display: var(--expanded, none);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spendings-list table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.spendings-list-username {
  width: 100px;
  text-align: center;
}
@media (max-width: 768px) {
  .spendings-list-username {
    width: 70px;
  }
}

.spendings-list-date {
  width: 100px;
}
@media (max-width: 768px) {
  .spendings-list-date {
    width: 50px;
  }
}

.spendings-list-amount {
  background-color: var(--pred-color, gray);
  border-radius: 8px;
  color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  padding: 0 5px 0 5px;
  margin: 0 10px 0 10px;
}

.spendings-list-button-container {
  width: 50px; /* 20px for each button + 5px right margin each */
}
.spendings-list-mini-button {
  font-size: 12px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.spendings-list-amount-input {
  width: 50px;
  height: 20px;
  padding: 0 0 0 5px;
}
.spendings-list-description-input {
  width: 100px;
  height: 20px;
  padding: 0 0 0 5px;
}

.spendings-list-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media (max-width: 768px) {
  .spendings-list-filters {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.spendings-list-filters {
  user-select: none;
}

/* summary table */
.summary-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.summary-table th {
  width: 7rem;
}

.summary-table-username {
  background-color: var(--pred-color, gray);
  color: #fff;
  padding: 0 5px 0 5px;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  margin: 0 10px 0 10px;
  user-select: none;
}

.summary-table-claims {
  color: var(--claim-color, white)
}

@media (max-width: 768px) {
  .summary-table-hide-on-mobile {
    display: none;
  }
}