.input {
  display: none;

  &:checked + .checkmark {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }

  &:checked + .checkmark::before {
    transform: scale(1) rotate(45deg);
  }
}

.label {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
}

.checkmark {
  position: relative;
  width: 14px;
  height: 14px;
  border: 2px solid var(--text-color);
  border-radius: 4px;
  background-color: var(--primary-color);
  transition: all 0.2s ease;

  &::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 1px;
    width: 4px;
    height: 8px;
    border-right: 2px solid var(--white-color);
    border-bottom: 2px solid var(--white-color);
    transform: scale(0) rotate(45deg);
    transition: transform 0.2s ease;
  }
}
